body {background-color: peachpuff}
h1 {font-family: "georgia";}
#p1 {font-size: "30";}
#paragraph3 {background-color: cadetblue;color: aquamarine;}
#construction {color: yellowgreen;}
#paragraph2 {color: darkturquoise}